header {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

.menu-hamburguer {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(images/menu-hamburguer.svg);
    background-repeat: no-repeat;
    background-position: center;
    }

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left:40%;
    box-shadow: 1px 3px 5px #dfdfdf;
    width: 60vw;
    }

.container-botao:checked~.lista-menu {
display: block;
}

.container-botao {
    display: none;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-primaria);
}

.lista-menu__link {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
}
.lista-menu__item:hover {
    background: var(--laranja-degrade);
    color: var(--cor-primaria);
    border-radius: 16px;
}

@media screen and (min-width:1024px) {
   .menu-hamburguer {
       display: none;
   }
    .lista-menu {
        display: flex;
        flex-direction: row; 
         position: static;
         box-shadow: none;
         width: auto;
        gap: 1.25rem; 
        margin-right: 5%;
    } 

    .lista-menu__item {
        background-color: transparent;
    }

    .lista-menu__titulo {
        display: none;
    }

    .logo-header {
 margin-left: 5%;
    }
}


/*///////////////// FOOTER */

.footer {
  background-color: #f8f9fa;
  color: #222;
  padding: 40px 10%;
  font-size: 14px;
  line-height: 1.6;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-col {
  flex: 1 1 300px;
  min-width: 280px;
}

.footer-logo {
  width: 160px;
  margin-bottom: 15px;
}

.footer-col p {
  margin: 0 0 10px;
}

.footer-address {
  margin-top: 20px;
}

.footer-col h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 25px;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 6px;
}

.footer-col ul li a {
  color: #222;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: var(--cor-primaria);
}

.social-icons {
  display: flex;
  gap: 10px;
  margin: 10px 0 25px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: var(--cor-primaria);
  color: #000;
}

.inmetro-section {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 20px;
}

.inmetro-logo {
  width: 50px;
  height: auto;
}



@media (max-width: 1400px) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }
}


.footer {
    margin-top: 88px;
}